{% extends "base.html" %}



{% block content %}

{% macro render_field(field) -%}
<div class="form-group">
  {{ field.label }}
  {{ field(class_="form-control", **kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{%- endmacro %}


<form method="POST" action=".">
{{ form.csrf_token }}
<dl>
    {{ render_field(form.name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.phone) }}
    {{ render_field(form.rol) }}
    {{ render_field(form.address, col=70) }}
</dl>
<input type="submit" class="btn btn-warning" 
        name="ok"
        value="Editar Perfil">

</form>

{% endblock %}
