{% extends "base.html" %}

{% block content %}

<form method="POST" action="/">
{{ form.csrf_token }}


<table class="table">

<tr>
    <th>Nombre</th>
    <td>{{ form.name(size=30) }}</td>
</tr>

<tr>
    <th>Apellidos</th>
    <td>{{ form.last_name(size=30) }}</td>
</tr>

<tr>
    <th>Email</th>
    <td>{{ form.email(size=30) }}</td>
</tr>

<tr>
    <th>Teléfono</th>
    <td>{{ form.phone(size=12) }}</td>
</tr>

<tr>
    <th>Rol</th>
    <td>{{ form.rol() }}</td>
</tr>




</table>

    <input type="submit" value="Go">
    
</form>

<p><a class="btn btn-warning" href="/users/{{ object.id_user }}/edit">Editar Perfil</a>

{% endblock %}
